<div class="p-3 bg-dark text-light d-flex justify-content-between align-items-center">
  <div>
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <b class="ml-1">World Population Challenge - MindX</b>
  </div>
  <div>
    <a type="button" class="btn btn-outline-success" href="assets/myCV.pdf" download>Download My Resume</a>
    <a href="https://linkedin.com/in/thanhhoa214/" class="linkedin-link" target="_blank"
      ><img src="assets/linkedin.svg" alt="linkedin thanhhoa214"
    /></a>
    <span>Hoà Nguyễn (Rin)</span>
  </div>
</div>

<main
  class="container py-4"
  *ngIf="{
    worldPopulation: worldPopulation$ | async,
    searchValues: searchValues$ | async,
    top20Countries: top20Countries$ | async,
    countriesWithDetails: countriesWithDetails$ | async
  } as view"
>
  <h4>1. World Population</h4>
  <p>
    World Population:
    <b>{{ view.worldPopulation?.world_population | number: '1.0-0' }}</b>
    with total
    <b>{{ view.worldPopulation?.total_countries }}</b> countries.
  </p>

  <div class="row">
    <div class="col-4 border-right">
      <h4>2. Top 20 largest countries by population</h4>
      <ol>
        <li *ngFor="let country of view.top20Countries?.items || []">
          <div class="d-flex justify-content-between">
            <span>{{ country.country_name }}</span> <span>#{{ country.population }}</span>
          </div>
        </li>
      </ol>
    </div>
    <div class="col-8">
      <div class="d-flex justify-content-between">
        <h4>3. Country List Pagination</h4>
        <ul class="pagination" *ngIf="view.countriesWithDetails">
          <li
            class="btn btn-outline-primary mr-2 cursor-pointer"
            *ngIf="view.countriesWithDetails.has_previous_page"
            (click)="loadPage(view.countriesWithDetails.current_page - 1)"
          >
            {{ view.countriesWithDetails.current_page - 1 }}
          </li>
          <li class="btn btn-outline-primary mr-2 active cursor-pointer">
            {{ view.countriesWithDetails.current_page }}
          </li>
          <li
            class="btn btn-outline-primary mr-2 cursor-pointer"
            *ngIf="view.countriesWithDetails.has_next_page"
            (click)="loadPage(view.countriesWithDetails.current_page + 1)"
          >
            {{ view.countriesWithDetails.current_page + 1 }}
          </li>
          <ng-container *ngIf="view.countriesWithDetails.total | totalPage: 10 as totalPage">
            <ng-container *ngIf="view.countriesWithDetails.current_page < totalPage - 2">
              <span class="mr-1 mt-2">ooo</span>
              <li class="btn btn-outline-primary mr-2 cursor-pointer" (click)="loadPage(totalPage - 1)">
                {{ totalPage - 1 }}
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Country Name</th>
            <th>Population</th>
            <th>Ranking</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of view.countriesWithDetails?.items || []">
            <td scope="row">{{ country.country_name }}</td>
            <td>{{ country.population | number: '1.0-0' }}</td>
            <td>{{ country.ranking }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-group">
    <h4>4. Typeahead search countries</h4>
    <input
      type="text"
      [formControl]="searchControl"
      class="form-control mb-3"
      name="country"
      id="country"
      placeholder="Enter country name..."
    />
    <div>
      Found {{ view.searchValues?.total }} matches.
      <button class="btn btn-outline-primary mr-1 mb-1" *ngFor="let con of view.searchValues?.items">
        {{ con }}
      </button>
    </div>
  </div>
</main>
